<link rel="stylesheet" href="/css/footer.css">
<div class="main-div">
    <footer>
        <div class="grid_box">
            <ul>
                <h6>Services</h6>
                <li>Web Design</li>
                <li>Development</li>
                <li>Hosting</li>
            </ul>
            <ul>
                <h6>About</h6>
                <li>Company</li>
                <li>Team</li>
                <li>Legacy</li>
            </ul>
            <ul>
                <h6>Careers</h6>
                <li>Job openings</li>
                <li>Employee Success</li>
                <li>Benefits </li>
            </ul>
        </div>
        <div class="copyright_box">
            <p><span>Copyright &copy;</span> 2024 created by Mohit, All Rights Reserved.</p>
        </div>
    </footer>

</div>