<% layout("/boilerplate/boilerplates") %>
    <link rel="stylesheet" href="/css/signup.css">
    <div class="main-div">
        <div class="part1">
            <h3>Sign up</h3>
            <p>Get access to your Orders, Wishlist and Recommendations</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzuAY00M4q8v7mTcTcvu5gUet4-hitHwtAKA&s"
                alt="">
        </div>
        <div class="part2">
            <form action="/">
                <input type="text" class="form-control" placeholder="Enter Your name" name="user[name]">
                <input type="text" class="form-control" placeholder="Enter Email" name="user[email]">
                <input type="text" class="form-control" placeholder="Enter Password" name="user[password]">
                <p>By continuing,you agree to Flipkart's <span>Terms of Use</span> and <span>Privacy Policy.</span></p>
                <button type="submit" class="btn">Sign up</button>

            </form>
          <a href="/login">Existing User? Log in</a>
        </div>
    </div>