<% layout("/boilerplate/boilerplate") %>
<div class="main-div">
    <h1 style="text-align: center; font-size:1.4em">Sign up</h1>
    <form action="/signup" method="post" class="needs-validation" novalidate>
        <div>
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" required>
            <div class="valid-feedback">Looks good...</div>
            <div class="invalid-feedback">Enter Username plz!</div>

        </div>
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
            <div class="valid-feedback">Looks good...</div>
            <div class="invalid-feedback">Enter email plz!</div>

        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <div class="valid-feedback">Looks good...</div>
            <div class="invalid-feedback">Enter password plz!</div>

        </div>
        <button class="btn btn-success mt-3 mb-3">Sign up</button>
        <p class="m-0">You have an account yet, <a href="/login">Login here</a>.</p>
    </form>

</div>
    