<% layout("/boilerplate/boilerplate") %>
<link rel="stylesheet" href="/css/home.css">
<div class="home_page">
<h1>Welcome Admin Panel</h1>
    <div>if You went to adding employee then <a href="/login">Login</a> /<a href="/signup">Sign up</a>.</div>
</div>
