<% layout("boilerplate/boilerplate") %>
    <div class="main-div">
        <h1 style="text-align: center; font-size:1.4em">Create Employee</h1>
        <form action="/employee/new" method="post" class="needs-validation" enctype="multipart/form-data" style="line-height: 2em;" novalidate>
            <div>
                <label for="name" class="form-label" >Name:</label>
                <input type="text" id="username" name="employee[name]" placeholder="Enter your name" class="form-control" required>
                <div class="valid-feedback">Looks good...</div>
                <div class="invalid-feedback">Enter Name plz!</div>

            </div>
            <div>
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" placeholder="Enter your email" name="employee[email]" class="form-control" required>
                <div class="valid-feedback">Looks good...</div>
                <div class="invalid-feedback">Enter email plz!</div>

            </div>
            <div>
                <label for="number" class="form-label">Mobile No:</label>
                <input type="text" id="number" placeholder="Enter your number" name="employee[number]" class="form-control" required>
                <div class="valid-feedback">Looks good...</div>
                <div class="invalid-feedback">Enter Mobile No. plz!</div>
                <div>
            </div>
                <label for="designation" class="form-label">Designation:</label>
                <select name="employee[designation]" class="form-select" id="designation" required>
                    <option selected disabled value="">Select here..</option>
                    <option value="HR">HR</option>
                    <option value="Sales">Sales</option>
                    <option value="Manager">Manager</option>
                </select>
                <div class="valid-feedback">Looks good...</div>
                <div class="invalid-feedback">Select Designation plz!</div>
            </div>
            <div class="gender">
                <label class="form-label me-4">Gender:</label>
                <input type="radio" id="male" name="employee[gender]" value="male" checked>
                <label for="male">Male</label>
                <input type="radio" id="female" name="employee[gender]" value="female">
                <label for="female">Female</label>
            </div>
            <div>
                <label for="course" class="form-label">Course:</label>
                <select name="employee[course]" class="form-select" id="course" required>
                    <option selected disabled value="">Select here..</option>
                    <option value="MCA">MCA</option>
                    <option value="BCA">BCA</option>
                    <option value="BSC">BSC</option>
                </select>
                <div class="valid-feedback">Looks good...</div>
                <div class="invalid-feedback">Select Course plz!</div>
            </div>
            <div>
                <label for="form-label">Image:</label>
                <input type="file" placeholder="upload image" class="form-control" name="employee[image]" id="image">
            </div>

            <button class="btn btn-success mt-3 mb-3">Create</button>
        </form>
    </div>