Form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.247);
    color: rgba(3, 94, 97, 0.582);
    margin: 1rem;
    padding: 5rem 2rem;
    border-radius: 10px;
}
label{
    color: rgb(0, 114, 80);
}
input,textarea{
    border-radius: 10px;
padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.247);
border: none;
}
button{
    padding: 1rem 2rem;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(21, 74, 219);
    color: white;
    box-shadow: 1px 3px 5px black;
    border: none;
    cursor: pointer;
    
}
button:hover{
    box-shadow:inset 1px 3px 5px black;
 

}