<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Add New Chat</h1>
    <form action="/" method="Post">
        <label for="from">From:</label>
        <input type="text" placeholder="From" name="from">
        <label for="msg">Message:</label>
       <textarea name="msg" placeholder="Enter message" cols="10" rows="5"></textarea>
        <label for="to">To:</label>
        <input type="text" placeholder="To" name="to">
        <button>Send Message</button>
    </form>
</body>
</html>