<body>

    <% layout("/boilerplate/boilerplate") %>
        <% for(let d of garageData){ %>
            <a href="/home/<%= d._id  %>/show">
                <p>
                    <%= d.name %>
                </p>
                <img src="<%= d.Image  %>" alt="car_image">
            </a>
        <% } %>
</body>