<body>
    <p>Create your Post:</p>
    <% layout("/boilerplate/boilerplate") %>
    <form action="/home" method="post">
        <label for="name">Name :</label>
        <input type="text" name="car[name]" placeholder="Car Name">


<button>Add</button>
    </form>
</body>