<body>
    <% layout("/boilerplate/boilerplate") %>
        <p>Create your Post:</p>
        <form action="/home" method="post">
            <label for="name">Name :</label>
            <input type="text" name="car[name]" placeholder="Car Name">
            <label for="Image">Image URL :</label>
            <input type="text" name="car[Image]" placeholder="Car image url">
            <button>Add</button>
        </form>
</body>